@charset "utf-8";

// Customization

// You can easily customize Bulma with your own variables.
// Just uncomment the following block to see the result.

/*
1. Import the initial variables
@import "node_modules/bulma/sass/utilities/initial-variables";
2. Set your own initial variables
Update the blue shade, used for links
$blue: #06bcef;
Add pink and its invert
$pink: #ff8080;
$pink-invert: #fff;
Update the sans-serif font family
$family-sans-serif: "Helvetica", "Arial", sans-serif;
3. Set the derived variables
Use the new pink as the primary color
$primary: $pink;
$primary-invert: $pink-invert;
4. Import the rest of Bulma
*/

// @import "node_modules/bulma/bulma.sass";

@import url("//cdn.jsdelivr.net/npm/tuicss@2.0.1/dist/tuicss.min.css");

.is-fullheight-100vh {
  height: calc(100vh - 144px);
}

.is-fullheight-100vh-no-footer {
  height: 100vh;
  background-color: #263238;
}

.my-footer {
  background-color: #1a1919;
  text-align: center;
  padding: 20px;
}

.hover {
  padding: 6px;
  position: relative;
  display: inline;
}

.popup {
  opacity: 0;
  position: absolute;
  top: 32px;
  left: 0px;
  background: #fafafa;
  border: 1px solid transparent;
  border-radius: 6px;
  height: 0px;
  padding: 0 12px;
  overflow: hidden;
  z-index: 1;
}

.hover:hover .popup {
  padding: 12px 12px;
  height: auto;
  opacity: 1;
  border: 1px solid #eeeeee;
}

.tui-input {
  background-color: #141414;
  color: #fff;
}

.tui-textarea {
  background-color: #141414;
  color: #fff;
}

.tui-textarea:focus {
  background-color: #ff0 !important;
  color: #000;
}

.tui-window {
  box-shadow: none;
}

.tui-button {
  box-shadow: none;
}

.tui-panel {
  box-shadow: none;
}

.tui-table thead {
  color: #fff;
}

.pad1charside {
  padding-left: 1ch;
  padding-right: 1ch;
}

.black-255 {
  background-color: #1a1919 !important;
}
